---
layout: default
title : Yao Lai
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/url_debug_message.html %}

{% if site.data.display.homepage.show_experience %}
{% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
{% assign count_news = site.news | size %}
{% if count_news > 0 %}
{% include widgets/news_card.html %}
{% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
{% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
{% 
    include widgets/publication_card.html 
    publications=pubs
    title='<i class="fas fa-star"></i> Selected Publications'
%}
{% endif %}

{% include widgets/video.html %}


<!-- MapMyVisitors 访客地图 -->
<div style="width: 180px; max-width: 100%; margin: 20px auto;">
<script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=VNW2YgK-QyLTNLm9oDtfGdRvcxDijg-PqRT01_NKkIg&cl=ffffff&w=a"></script>
</div>